.contact-stripe {
    background-color: #112337;
    width: 30vw;
    z-index: 0 !important;
    position: absolute;
    height: 100% !;
}



.form-container {
    flex: 0.5;
    gap: 10px;
    padding: 10px;
}



.contact-form {
    flex: 0.8 !important;
    height: 100%;
}


.form-leftouts {
    flex: 0.4;
    height: max-content !important;
}



.form-leftouts::before {
    content: "";
    height: 60%;
    width: 3px;
    background-color: rgba(17, 35, 55, 0.09);
}

.contact-form input {
    border-bottom: 2px solid black;
    padding-top: 40px;
    outline: none;
    letter-spacing: 3px;
    font-weight: 500;
}

textarea {
    padding-top: 40px;
    outline: none;
    border-bottom: 2px solid black;
    resize: vertical;
    max-height: 300px;
    min-height: 150px;
    letter-spacing: 2px;
    font-weight: 500;
}

.foodzone {
    letter-spacing: 7px;
}




@media (max-width:768px) {
    .form-wrapper {
        padding: 10px;
        width: 80% !important;
    }

    .form-container,
    .form-body {
        flex: 1 !important;
        width: 100%;
    }

    .form-leftouts {
        display: none;
    }


}